:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-light: #ffffff;
  --primary1-dark: #363738;
  --secondary-light: #f5f5f5;
  --secondary-cream: #fefaf1;
  --secondary-red: #ff2e60;
  --button1: #00ba88;
  --hover-button1: #00966d;
  --hover-button2: #a0bce0;
  --background: #ffffff;
  --text1: #fafafa;
  --text2: #7d8184;
  --text3: #504242;
  --button: #000000;
}
